.pizza {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pizza--foundation--big-creamy {
  background-image: url("../img/foundation/big-creamy.svg");
}

.pizza--foundation--big-tomato {
  background-image: url("../img/foundation/big-tomato.svg");
}

.pizza--foundation--small-creamy {
  background-image: url("../img/foundation/small-creamy.svg");
}

.pizza--foundation--small-tomato {
  background-image: url("../img/foundation/small-tomato.svg");
}

.pizza__wrapper {
  width: 100%;
  padding-bottom: 100%;
}

.pizza__filling {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.pizza__filling::before, .pizza__filling::after {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: inherit;
}

.pizza__filling--second::before {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pizza__filling--third::before {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pizza__filling--third::after {
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pizza__filling--ananas, .pizza__filling--ananas.pizza__filling--second::before, .pizza__filling--ananas.pizza__filling--third::after {
  background-image: url("../img/filling-big/ananas.svg");
}

.pizza__filling--bacon, .pizza__filling--bacon.pizza__filling--second::before, .pizza__filling--bacon.pizza__filling--third::after {
  background-image: url("../img/filling-big/bacon.svg");
}

.pizza__filling--blue_cheese, .pizza__filling--blue.pizza__filling--second::before, .pizza__filling--blue.pizza__filling--third::after {
  background-image: url("../img/filling-big/blue_cheese.svg");
}

.pizza__filling--cheddarcheddar, .pizza__filling--cheddar.pizza__filling--second::before, .pizza__filling--cheddar.pizza__filling--third::after {
  background-image: url("../img/filling-big/cheddar.svg");
}

.pizza__filling--chile, .pizza__filling--chile.pizza__filling--second::before, .pizza__filling--chile.pizza__filling--third::after {
  background-image: url("../img/filling-big/chile.svg");
}

.pizza__filling--ham, .pizza__filling--ham.pizza__filling--second::before, .pizza__filling--ham.pizza__filling--third::after {
  background-image: url("../img/filling-big/ham.svg");
}

.pizza__filling--jalapeno, .pizza__filling--jalapeno.pizza__filling--second::before, .pizza__filling--jalapeno.pizza__filling--third::after {
  background-image: url("../img/filling-big/jalapeno.svg");
}

.pizza__filling--mozzarella, .pizza__filling--mozzarella.pizza__filling--second::before, .pizza__filling--mozzarella.pizza__filling--third::after {
  background-image: url("../img/filling-big/mozzarella.svg");
}

.pizza__filling--mushrooms, .pizza__filling--mushrooms.pizza__filling--second::before, .pizza__filling--mushrooms.pizza__filling--third::after {
  background-image: url("../img/filling-big/mushrooms.svg");
}

.pizza__filling--olives, .pizza__filling--olives.pizza__filling--second::before, .pizza__filling--olives.pizza__filling--third::after {
  background-image: url("../img/filling-big/olives.svg");
}

.pizza__filling--onion, .pizza__filling--onion.pizza__filling--second::before, .pizza__filling--onion.pizza__filling--third::after {
  background-image: url("../img/filling-big/onion.svg");
}

.pizza__filling--parmesan, .pizza__filling--parmesan.pizza__filling--second::before, .pizza__filling--parmesan.pizza__filling--third::after {
  background-image: url("../img/filling-big/parmesan.svg");
}

.pizza__filling--salami, .pizza__filling---salami.pizza__filling--second::before, .pizza__filling---salami.pizza__filling--third::after {
  background-image: url("../img/filling-big/salami.svg");
}

.pizza__filling--salmon, .pizza__filling--salmon.pizza__filling--second::before, .pizza__filling--salmon.pizza__filling--third::after {
  background-image: url("../img/filling-big/salmon.svg");
}

.pizza__filling--tomatoes, .pizza__filling--tomatoes.pizza__filling--second::before, .pizza__filling--tomatoes.pizza__filling--third::after {
  background-image: url("../img/filling-big/tomatoes.svg");
}
/*# sourceMappingURL=pizza.css.map */